<h1> <%= @sub.title %>   </h1>

<% if current_user == @sub.moderator %>
  <a href='<%= edit_sub_url(@sub) %>'><p>Edit Sub</p></a>
<% end %>

<a href="<%= subs_url %>">Back to subs index</a>
  &nbsp;&nbsp;
<a href="<%=new_post_url%>">Make a post</a>
<h3>Posts</h3>

<ul>
<% @sub.posts.each do |post| %>

<li>
  <a href="<%= post_url(post) %>"><%=  post.title%></a>
</li>

<% end %>
<ul>
